.whatsapp-button {
  display: flex;
  align-items: center;
  background-color: #25d366;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  position: fixed;
  bottom: 5%;
  left: 5%;
  z-index: 9999;
}

.whatsapp-button img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.whatsapp-button:hover {
  background-color: #128c7e;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .whatsapp-button {
    padding: 8px 16px;
    font-size: 14px;
    bottom: 7%;
    left: 4%;
  }

  .whatsapp-button img {
    width: 20px;
    height: 20px;
  }
}

/* Adjustments for very small screens */
@media (max-width: 480px) {
  .whatsapp-button {
    padding: 6px 12px;
    font-size: 12px;
    bottom: 10%;
    left: 3%;
  }

  .whatsapp-button img {
    width: 18px;
    height: 18px;
  }
}
